<h1>Hi, <%= @user.username%></h1>
<ul>
	<% if !@user.campsites.empty? %>
	<h2>You have added the following campsites:</h2>
		<%@user.campsites.each do |c|%>
		<li><%= c.name %>
			<%= c.address %>
			<%= c.rating %>
		</li>
		<%end%>
	<%end%>
</ul>
</br>
<p><a href="/campsites/new">Add a campsite</p>
<p><a href="/campsites">See all campsites</p>


<a href="/logout">LOG OUT</a>
