<h1>Hi, <%= @user.username%></h1>
<h2>You have added the following campsites:</h2>
	<% if !@user.campsites.empty? %>
		<%@user.campsites.each do |c|%>
		<%= c.name %> - <a href='/campsites/<%=c.id%>'>see details</a></br>
		<%end%>
	<%end%>
	
</br>
<p><a href="/campsites/new">Add a campsite</p>
<p><a href="/campsites">See all campsites</p>


<a href="/logout">LOG OUT</a>
