<form action="/users" method="post">
	<p>
		<label for "user[username]">Username:</label>
		<input type="text" name="user[username]">	
	</p>
	<p>
		<label for "user[password]">Password:</label>
		<input type="password" name="user[password]">	
	</p>
	<input type="submit" value="SignUp">
</form>	
