<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Campsite Favorites App</h2>

    <div class="content">
      <p>Create a useraccount and add up your favorite campsites!</p>
      
      <a href='/signup'>SIGN UP</a>
      or
      <a href='/login'>LOG IN</a>
    </div>

   

  </div>
</div>
